<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip</h1>
    <h2> Il est moche mais soyez indulgents</h2><br/>
    <h2>Propose ton gossip : <a href="/gossips/new/">Créer un nouveau gossip</a></h2><br/>
    <h3>La liste des potins :</h3>
    <% gossips.each_with_index do |gossip, id| %>
        <p>
          <%= gossip.author %><br/>
          <%= gossip.content %><br/>
          <a href="/gossips/<%= id %>/"> Lien vers le potin  </a>
          <p>**********</p>
        </p>
      <% end %>
  </body>
</html>