<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, depuis le dossier views</h1>
    <h2> La liste des potins arrive bientôt ;)</h2>
    <p> En attendant, propose ton gossip : <a href="/gossips/new/">Créer un nouveau gossip</a></p>
    <% gossips.each do |gossip| %>
        <p>
          <%= gossip.author %><br/>
          <%= gossip.content %>
        </p>
      <% end %>
  </body>
</html>